@import "tailwindcss";

#root {
  height: 100vh;
  width: 100%;
  /* padding: 1.5rem; */
  text-align: center;
  background-color: var(--primary);
  color: var(--text-color);
}

/* ---------- Root Theme Variables ---------- */
:root {
  --primary: #191A23;

  --secondary: #16161C;

  --accent: #575BC7;

  --accent-hover: #6D78D5;

  --text-color: #ffffff;

  --text-color-secondary: #B0B0B0;

  --error: #FF4D4D;

  --success: #4CAF50;

  --warning: #FF9800;

  --info: #2196F3;

}

/* ---------- Dark Theme Overrides ---------- */
.light-theme {
  --primary: #FCFCFC;

  --secondary: #F5F5F5;

  --accent: #6D78D5;

  --text-color: #303446;

  --text-color-secondary: #6D6D6D;

  --error: #FF4D4D;

  --success: #4CAF50;

  --warning: #FF9800;

  --info: #2196F3;
}

/* ---------- Utility Classes ---------- */

/* Primary */
.primary     { background-color: var(--primary); }

/* Secondary */
.secondary     { background-color: var(--secondary); }

/* Accent */
.accent-bg     { background-color: var(--accent); }
.accent-bg:hover { background-color: var(--accent-hover); }
.accent-text { color: var(--accent); }

/* Text and Background Colors */
.text-color { color: var(--text-color); }
.text-color-secondary { color: var(--text-color-secondary); }
.text-error { color: var(--error); }
.text-success { color: var(--success); }
.text-warning { color: var(--warning); }
.text-info { color: var(--info); }

/* Error */
.error-bg       { background-color: var(--error); color: var(--text-color); }
.error-text     { color: var(--error); }

/* Success */
.success-bg     { background-color: var(--success); color: var(--text-color); }
.success-text   { color: var(--success); }

/* Warning */
.warning-bg     { background-color: var(--warning); color: var(--text-color); }
.warning-text   { color: var(--warning); }

/* Info */
.info-bg       { background-color: var(--info); color: var(--text-color); }
.info-text     { color: var(--info); }


